<h1>New Product</h1>

<form action="/products" method="post">
  <div>Name: <input type="text" name="name" /></div>
  <br>
  <div>Price: <input type="text" name="price" /></div>
  <br>
  <div>Description: <input type="text" name="description" /></div>
  <br>
  <div>Inventory: <input type="text" name="inventory" /></div>
  <br>
  <label for="supplier_id">Supplier:</label>
  <select name="supplier_id" id="">
    <option value="">--Choose a supplier--</option>
    <option value="1">Audio Bros</option>
    <option value="2">Sound Plus</option>
    <option value="3">Speak Up</option>
  </select> <br>
  <br>
  <input type="submit" value="Create Product" />
</form>